#main-signin {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgb(57, 57, 57);
  font-family: monospace;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 45vh;
}
.input {
  background-color: transparent;
  min-width: 50vw;
  min-height: 10%;
}
#input{
  color: white;
}
