
#text{
    color: aliceblue;
}

.mb-1{
    padding-left: 20px;
    margin-top: 2rem;
}

.form-field{
    justify-content: center;
}

#upload-button{
    margin-bottom: 20px;
}

#form-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.css-y1qizs-MuiInputBase-root-MuiFilledInput-root{
    color: white;
}